<!-- Write a base template for each page on the website, for example a navigation menu -->
{% block doc -%} 
   {%- block html %} 
      {%- block head %} 
         {%- block metas %} 
         {%- endblock metas %} 
         {%- block styles %} 
            <link rel = 'stylesheet' href="{{ url_for('static', filename='styles.css') }}">
         {%- endblock styles %} 
      {%- endblock head %} 
      {% block body -%} 
         {% block navbar %}
         <nav>
            <div class = nav_left>
               <a href = "{{url_for('galleryPage')}}">Home</a>
               <a href = "{{url_for('basketPage')}}">Basket</a>
            </div>
            <div class = nav_center>
               <span id = "brand_title">Eccentric Caffeine</span>
            </div>
            <div class = nav_right>
               {% if not current_user %}
                  <a href = "{{url_for('login')}}">Login</a>
               {% else %}
                  <a href = "{{url_for('logout')}}">Logout</a>
                  <a href = "{{url_for('account_details')}}">Manage Account</a>
               {% endif %}
            </div>
         </nav>
         {%- endblock navbar %} 
         {% block content -%} 
         {%- endblock content %} 
         {% block scripts %} 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
         {%- endblock scripts %} 
      {%- endblock body %} 
   {%- endblock html %} 
{% endblock doc -%}

