{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

   {% if choice_form %}
      {{ wtf.quick_form(choice_form) }}
   {% endif %}

   {% if payment_form %}
   <h1> Checkout </h1>
   <h3> Total Price {{ session.total_basket_price }} </h3>
   <form method="POST" novalidate>
      {{ payment_form.hidden_tag() }}
    
      <div class="mb-3">
        {{ payment_form.credit_card_number.label(class="form-label") }}
        {{ payment_form.credit_card_number(class="form-control" + (" is-invalid" if payment_form.credit_card_number.errors else "")) }}

        {% if request.method == 'POST' and payment_form.pay.data %}
          {% for error in payment_form.credit_card_number.errors %}
            <div class="invalid-feedback">
              <i class="bi bi-exclamation-circle-fill"></i> {{ error }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    
      <div class="mt-3">
        {{ payment_form.pay(class="btn btn-primary") }}
      </div>
    </form>
   {% endif %}
    
{% endblock %}
