{% extends "base.html" %}

{% block content %}
    <div id="main">
        <div id="main-background-wrapper">
            <img src="{{ url_for('static', filename='coffee_poster 1.jpg') }}"
                alt="A Cuppa Coffee"
                id="main-background-image"
                class="cafe_menu_images"
                data-image_item_id="1"
                draggable="true">
        </div>

        <div id="writing">
            <div class="text_column">
                <div>Unique</div>
                <div>Drinks</div>
            </div>
            <div class="text_column">
                <div>At</div>
                <div>Home</div>
            </div>
        </div>
        </div>

    </div>
    <div id="sort-header-container">
        <h1 id="cafe-extra-heading">Order perfectly crafted coffee drinks from around the world</h1>
        <div id="sort-container">
            <button id="sort-button">Sort Options</button>
            <ul id="sort-menu" class="dropdown-menu hidden">
                <li><a class="dropdown-item" data-sort="alpha_asc">Ascending Alphabetical</a></li>
                <li><a class="dropdown-item" data-sort="alpha_desc">Descending Alphabetical</a></li>
                <li><a class="dropdown-item" data-sort="price_asc">Ascending Price</a></li>
                <li><a class="dropdown-item" data-sort="price_desc">Descending Price</a></li>
                <li><a class="dropdown-item" data-sort="carbon_asc">Ascending Carbon Footprint</a></li>
                <li><a class="dropdown-item" data-sort="carbon_desc">Descending Carbon Footprint</a></li>
            </ul>
        </div>
    </div>

    <ul id="menu_list">
        {% for item in cafe_menu[1:] %}
        {% set recipe_for_item = (cafe_recipes | selectattr('item_id', 'equalto', item.id) | list).0 %}
        <li class="menu_item" data-name="{{ item.name }}" data-price="{{ item.price }}" data-carbon_footprint="{{ recipe_for_item.total_carbon_footprint if recipe_for_item }}">
            
            <div class="menu_item_left">
                <a href="{{ url_for('singleProductPage', item = loop.index + 1) }}">
                    <h3>{{ item.name }}</h3>
                </a>
                <img src="{{ url_for('static', filename=item.image) }}" alt="{{ item.name }}" class="cafe_menu_images" data-image_item_id="{{ item.id }}" draggable="true">
            </div>
    
            <div class="menu_item_right">
                <p>Price: {{ item.price }}</p>
                {% if recipe_for_item %}
                    <p>Carbon Footprint: {{ recipe_for_item.total_carbon_footprint }}</p>
                {% endif %}
                <div class="item_container"></div>
            </div>     
        </li>
        {% endfor %}
    </ul>
    
    <figure id="basket_drop_container">
        <img src="{{ url_for('static', filename = 'cute mug.webp') }}" id="basket_drop_area">
        <figcaption>Pour (drag) your coffee here!</figcaption>
      </figure>
      
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('main').scrollIntoView();

            /* BASKET DRAG AND DROP */

            const images = document.querySelectorAll('.cafe_menu_images');
            const basket_drop = document.getElementById('basket_drop_area');
        
            images.forEach(img => {
                img.addEventListener('dragstart', (event) => {
                    event.dataTransfer.setData('text/plain', img.dataset.image_item_id);
                });
            });

            basket_drop.addEventListener('dragover', (event) => {
                event.preventDefault();
                //basket_drop.style.backgroundColor = '#eef';
            });

            /*
            basket_drop.addEventListener('dragleave', (event) => {
                basket_drop.style.backgroundColor = '#eef';
            });
            */
           basket_drop.addEventListener('drop', async () =>{
            //basket_drop.style.backgroundColor = '';
            const dropped_item_id = event.dataTransfer.getData('text/plain');
            const response = await fetch('/add_to_basket', {
                method: 'POST', 
                headers: {
                    'Content-type' : 'application/json',
                    'X-CSRFToken' : '{{ csrf_token }}'
                },
                body: JSON.stringify({item_id : dropped_item_id, quantity: 1})
            });

            if(response.ok){
                alert('Item added to basket');
            }
            else{
                alert('Unable to add item to basket');
            }
           });


           /* ------------------------------------------------------------------------------------------- */

           /* SORTING */
           
           const sorting_methods = document.querySelectorAll('.dropdown-item');

           sorting_methods.forEach(sort_method  =>{
            sort_method.addEventListener('click', (event) =>{
                const [sorting_method, order_method] = sort_method.dataset.sort.split('_');
                sort_menu(sorting_method, order_method);
            });
           });

           /* FUNCTIONS */

           function sort_menu(sorting_method, order_method){
            //I want to retreive all the names of the cafe_menu_items here and sort them in alphabetical  order
            const items_list = Array.from(document.querySelectorAll('#menu_list .menu_item'));
            const sorted_items_list = items_list.sort((a, b) =>{
                let a_val, b_val;

                if (sorting_method == 'alpha'){
                    a_val = a.dataset.name.toLowerCase();
                    b_val = b.dataset.name.toLowerCase();
                }
                else if (sorting_method == 'price'){
                    a_val = parseFloat(a.dataset.price);
                    b_val = parseFloat(b.dataset.price);
                }
                else if (sorting_method == 'carbon'){
                    a_val = parseFloat(a.dataset.carbon_footprint);
                    b_val = parseFloat(b.dataset.carbon_footprint);
                }

                if (order_method == 'asc'){
                    if(typeof(a_val, b_val) == "number"){
                        return a_val - b_val;
                    }
                    return a_val.localeCompare(b_val);
                }
                else if(order_method =='desc'){
                    if(typeof(a_val, b_val) == "number"){
                        return b_val - a_val;
                    }
                    return b_val.localeCompare(a_val);
                }

            });
            sorted_items_list.forEach(item => menu_list.appendChild(item)); 
            }


           /* ------------------------------------------------------------------------------------------- */


           /* DISPLAY DESCRIPTION WHEN HOVER */

            images.forEach (img =>{
                let description_container = null;
                let active_image = null;
                let fetch_controller = null;
                img.addEventListener('mouseover', async () =>{
                //let description_container = document.getElementById('description_container');
                const item_id = img.dataset.image_item_id;
                console.log("Hover over: ", item_id);

                if(fetch_controller){
                    fetch_controller.abort();
                }

                if (active_image){
                    active_image.remove();
                    active_image = null;
                }

                active_image = img;
                fetch_controller = new AbortController();
                try{
                    const response = await fetch('/get_item_description', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({item_id: item_id}), 
                    signal: fetch_controller.signal
                    });

                    data = await response.json();
                    if (response.ok && active_image == img){
                        console.log("The description: ", data.description);
                        description_container = document.createElement('div');
                        description_container.classList.add('item_description');
                        description_container.innerText = data.description;
                        let itemContainer;

                        // Determine where to append the description
                        const menuItem = img.closest('#menu_list .menu_item');
                        itemContainer = menuItem.querySelector('.item_container');
                        if (itemContainer) {
                            itemContainer.appendChild(description_container);
                        }
                    }
                }
                catch(error){
                    if (error.name !== 'AbortError') {
                        console.log("Fetch error:", error);
                    }
                }
                });

                img.addEventListener('mouseout', () => {
                    //let description_container = document.getElementById('description_container');
                    if(description_container){
                        description_container.remove();
                        description_container = null;
                    }
                    active_image = null;
                    if(fetch_controller){
                        fetch_controller.abort();
                        fetch_controller = null;
                    }
                });
            });
            /* SORT MENU IMPLEMENTATION */
            const button = document.getElementById('sort-button');
            const menu = document.getElementById('sort-menu');

            // Toggle menu
            button.addEventListener('click', function (e) {
                e.stopPropagation(); // Prevent click bubbling
                menu.classList.toggle('hidden');
            });

            // Hide dropdown if clicking outside
            document.addEventListener('click', function () {
                menu.classList.add('hidden');
            });

            // Optional: handle menu item clicks
            const items = document.querySelectorAll('.dropdown-item');
            items.forEach(item => {
                item.addEventListener('click', () => {
                const sortData = item.dataset.sort;
                console.log("Selected sort option:", sortData);
                menu.classList.add('hidden');
                });
            });
    });
    </script>
{% endblock %}




 <!-- Display the description of the image when hovered over 
      <script>
        document.addEventListener('DOMContentLoaded', function () {
            const images = document.querySelectorAll('.cafe_menu_images');
            images.forEach (img =>{
                img.addEventListener('mouseover', () =>{
                const item_name = img.dataset.name;
                });
            });
        });
    </script>
     -->