{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
   {% if login_or_create_form %}
   <div class = 'centered-form'>
      <h1 id = "headers">Login or Create New Account</h1>
      <div id = "login_or_create_form">
         {{wtf.quick_form(login_or_create_form)}}
      </div>
   </div>
   {% else %}
   <div class = 'centered-form'>
      <h1 id = 'headers'>Login Page</h1>
      <div id = "login_form">
         {{wtf.quick_form(user_login_form)}}
      </div>
   </div>
      {% endif %}
{% endblock %}


